/* ------------------------------------------------------------------------
 *	
 *  SIMULATION
 * 	SIPS, Worldline e-payment Services
 *  Main Styles
 *  07/2015
 *
 -------------------------------------------------------------------------*/


/* --------------------------------------------------------------------------- */
/* -------------------------------- DEFAULT VALUES --------------------------- */
/* --------------------------------------------------------------------------- */
/* ------------------------------ RESET ---------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, article, aside, big, cite, code,
del, dfn, em, font, figure, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
}


html {
  overflow-y: scroll;
}

article, aside, figure, figcaption, footer, header, main, nav, section {
  display: block;
}

body {
  font: 100%/1.3 Verdana, Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: black;
  background: white;
  -webkit-text-size-adjust: 100%;
  /* iPhone */
}

h1 {font-size: 2em; margin-bottom: 1rem;}

p, li, dt, dd {font-size: 0.75em;}


li {
	list-style-type: none;
	line-height: 1.3;
	padding: 3px 0;
}


li li {font-size: 100%;}

li dt, li dd {font-size: 100%;}

td p, td li {font-size: 100%;}

p + ul {margin: 0.5em 0;}

code {font-size: 120%;}

a, a:link {
  color: black;
  background: transparent;
}

a:visited {
  color: #333;
  background: transparent;
}

a:hover, a:focus {text-decoration: none;}

abbr {border-bottom: 1px dashed gray;}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

hr {display: none;}

img {
  max-width: 100%;
  border: 0;
}

button {
	font-size: 100%;
	font-weight: bold;
	color: #FFF;
	background: #074E72;
	padding: 0.3em 0.5em;
	border: none;	
	border-radius: 0.2em;
	cursor: pointer;
}

#container {
	width: 90%;
	max-width: 700px;
	min-width: 220px;
	text-align: center;
	margin: 2em 5%;
}

/* --------------------------------------------------------------------------- */
/* -------------------------------- COMPONENTS ------------------------------- */
/* --------------------------------------------------------------------------- */

#headerlogo {margin-bottom: 1em;}

p.k-intro {
	font-size: 0.95em;
	padding-top: 0.5em;
	border-top: 5px solid #000;
}

#issuer_sim {margin: 5vh 0;}

#issuer_sim button[type=submit] {
	width: 100%;
	height: 5em;
	font-size: 130%;
	font-weight: bold;
	text-align: left;
	white-space: wrap;
	color: #FFF;
	background: url(../images/sprite.svg) 1em 0.9em no-repeat;
	padding-left: 80px;
	border: none;
	cursor: pointer;
}
#issuer_sim li:hover {
	color: #FFF;
	background-color: #000;
}

#issuer_sim ul {}
#issuer_sim li {
	text-align: left;
	background: #074E72;
	margin: 0.5em 5px;
	border-radius: 0.5em;
}

#issuer_sim button.error {
	background-position: 1em -649px;
}
#issuer_sim button.cancelled {
	background-position: 1em -515px;
}
#issuer_sim button.pending {
	background-position: 1em -392px;
}
#issuer_sim button.timeout {
	background-position: 1em -263px;
}
#issuer_sim button.refused {
	background-position: 1em -120px;
}
#issuer_sim button.accepted {
	background-position: 1em 0px;
}
	
@media screen and (min-width: 580px) {
	
	#issuer_sim ul {
		/*display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		display: -webkit-flex;
		-webkit-flex-flow: row wrap;
		-webkit-justify-content: space-between;
		display: -ms-flex;
		-ms-flex-flow: row wrap;
		-ms-justify-content: space-between;*/
	}
	
	#issuer_sim li {
		float: left;
		width: 48%;
		text-align: left;
	}	
}

@media screen and (min-width: 600px) {
	#container {margin: 2em auto;}
}